* {
  font-family: sans-serif;
}

header {
  text-align: center;
  padding: 1em 0 1em 0;
}

.container {
  display: flex;
  justify-content: center;
}

#toDoInput {
  height: 2em;
  width: 20em;
  font-size: larger;
  border: none;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding-left: 1em;
  outline: none;
}

#addButton {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}
