* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* The following lines until line 95 was inspired by https://youtu.be/G0jO8kUrg-I?si=OarSnlL0n1wN1T56. Accessed 4/4-2024*/
/* The main background */
.container {
  background: linear-gradient(#b0ccdf, #dcb8b0);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.todo-list {
  background-color: #fbfbfb;
  margin: auto;
  width: 100%;
  max-width: 450px;
  padding: 40px 30px 70px;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-bottom: 20px;
  font-size: 3em;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edeef0;
  margin-bottom: 25px;
  border-radius: 30px;
}

#input-box {
  flex: 1;
  height: 2em;
  width: 100%;
  padding-left: 20px;
  font-size: larger;
  border: none;
  outline: none;
  background: transparent;
}

.input-container button {
  background-color: #a8bac3;
  color: #fbfbfb;
  width: 8em;
  padding: 16px 50px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border: none;
  outline: none;
}

button:hover {
  background-color: #d4d7db;
  color: #a8bac3;
}

ul li {
  list-style: none;
  position: relative;
  font-size: 20px;
  padding: 20px;
}

ul li button {
  background-color: #a8bac3;
  color: #fbfbfb;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  text-align: center;
  right: 0;
  top: 5px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
}

span {
  padding-left: 20px;
}

input[type="checkbox"] {
  color: #fbfbfb;
  width: 25px;
  height: 25px;
  accent-color: #a8bac3;
}

.completed {
  text-decoration: line-through;
}
