/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

/* The main background */
.container {
  background: linear-gradient(#f8c8dc, #ff59a8);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.todo-list {
  background-color: #fff;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding: 40px 30px 70px;
  margin: auto;
  border-radius: 10px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
  padding-bottom: 20px;
  text-align: center;
  font-size: 3em;
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edeef0;
  margin-bottom: 25px;
  border-radius: 30px;
}

#input-box {
  flex: 1;
  height: 2em;
  width: 100%;
  font-size: larger;
  border: none;
  padding-left: 20px;
  outline: none;
  background: transparent;
}

button {
  width: 8em;
  background-color: #ff59a8;
  color: #fff;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;

  padding: 10px;
  border-radius: 40px;
}

button:hover {
  background-color: #f8c8dc;
  color: #ff59a8;
}

ul li {
  list-style: none;
  font-size: 20px;
  padding: 20px;
}

ul li button {
  cursor: pointer;
  /* position: absolute; */
  right: 0;
  top: 5px;
  font-size: 25px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

ul li button:hover {
  background-color: #f8c8dc;
  color: #ff59a8;
}

input[type="checkbox"] {
  width: 40px;
  font-size: 40px;
}
